<div class="row">
  <div class="col-md-3 white-box" id="profile_user_info">
    <%= image_tag(@user.avatar.url(:medium),  id: 'profile_user_avatar') %>
    <h4><%= @user.name if @user.name %></h4>
    <div id="profile_user_address"><%= @user.addr_city %> - <%= @user.addr_state %></div>
    <%#- if @user.id != current_user.id %>
      <%#= link_to 'Adicionar aos amigos', new_friend_request_path(:id => current_user.id), class: "btn btn-secondary" %>
    <%#- end %>
    <br><br>Avaliações<br>xx trocas já feitas...
  </div>
  <div class="col-md-9 white-box" id="profile_user_bookshelf">
    <h4>Estante</h4>
    <div class="bookshelf_display">
      <h5>Disponíveis</h5>
      <div class="row">
        <% @available_books.each do |book_instance| %>
          <div class="col-6 col-sm-4 col-md-3 col-lg-3">
            <div class="card">
              <%= link_to (image_tag book_instance.book.picture.url(:medium), class: "card-img-top"), book_instance %>
              <div class="card-body">
                <h5 class="card-title book-title"><%= link_to book_instance.book.name, book_instance %></h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="bookshelf_display">
      <h5>Indisponíveis no momento</h5>
      <div class="row">
        <% @unavailable_books.each do |book_instance| %>
          <div class="col-6 col-sm-4 col-md-3 col-lg-3">
            <div class="card">
              <%= image_tag book_instance.book.picture.url(:medium), class: "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title book-title"><%= link_to book_instance.book.name, book_instance %></h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
