<%= simple_form_for(@book_instance) do |form| %>
  <% if book_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_instance.errors.count, "error") %> prohibited this book_instance from being saved:</h2>

      <ul>
      <% book_instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.association :book, :collection => Book.order('lower(name)').all, required: true %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :description %>
      <%= form.text_area :description, id: :book_instance_description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.input  :status, as: :select, collection: [['available', 'Disponível'], ['unavailable', 'Indisponível']], label_method: :second, value_method: :first, required: true %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
