<h3>Exemplares
  <%= link_to 'Cadastrar exemplar', new_book_instance_path, class: 'btn btn-primary float-right' %>
</h3>

<%= search_form_for @q do |f| %>
  <div class="form-group row">
    <div class="col-md-3">
      <label>Nome</label><br>
      <%= f.search_field :book_name_cont, :class => 'form-control'%>
    </div>
    <div class="col-md-3">
      <label>Autor</label><br>
      <%= f.search_field :book_author_cont, :class => 'form-control'%>
    </div>
    <div class="col-md-3">
      <label><%= f.check_box :troca_true %> Troca</label>
      <label><%= f.check_box :emprestimo_true %> Empréstimo</label>
      <label><%= f.check_box :doacao_true %> Doação</label>
    </div>
  </div>
  <%= f.submit %><br><br>
<% end %>

<% if params[:q] %>
  Resultado da busca: <b><%= @book_instances.count %> livros encontrados</b><br><br>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Livro</th>
      <th>Usuário</th>
      <th>Descrição</th>
      <th>Distância</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_instances.each do |book_instance| %>
      <tr>
        <td><%= link_to book_instance.book.name, book_instance.book %></td>
        <td><%= link_to book_instance.user.name, book_instance.user %></td>
        <td><%= book_instance.description %></td>
        <td><%= book_instance.distance %> km</td>
        <td><%= link_to 'Ver', book_instance %></td>
        <td><%= link_to 'Editar', edit_book_instance_path(book_instance) %></td>
        <td><%= link_to 'Remover', book_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
</div>
<br>

