<h3>Exemplar #<%= @book_instance.id %> </h3>

<p>
  <strong>Livro:</strong>
  <%= link_to @book_instance.book.name, @book_instance.book %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= link_to @book_instance.user.name, @book_instance.user %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @book_instance.description %>
</p>

<p>

  <% if @book_instance.status == "available" %>
    <strong>Status: </strong>Disponível
  <% else %>
    <strong>Status: </strong>Indisponível
  <% end %>

</p>

<% if @book_instance.user_id != current_user.id %>
  <p>
    <% if @book_instance.troca && @book_instance.status == "available"%>
      <%= button_to "Solicitar Troca", transactions_path, params: { transaction: { askingUser_id: current_user,askedUser_id: @book_instance.user, askedBook_instance_id:@book_instance, askingBook_instance_id: 2, status: 'Pendente'} }, class: "btn btn-primary" , method: :create %>
    <% else%>
      <button type="button" class="btn btn-primary" disabled>Solicitar Troca</button>
    <% end %>

    <% if @book_instance.emprestimo && @book_instance.status == "available"%>
      <%= button_to "Solicitar Emprestimo", transactions_path, params: { transaction: { askingUser_id: current_user,askedUser_id: @book_instance.user, askedBook_instance_id:@book_instance, askingBook_instance_id: 2, status: 'Pendente'} }, class: "btn btn-primary" , method: :create %>
    <% else %>
      <button type="button" class="btn btn-primary" disabled>Solicitar Emprestimo</button>
    <% end %>

    <% if @book_instance.doacao && @book_instance.status == "available"%>
    <%= button_to "Solicitar Doação", transactions_path, params: { transaction: { askingUser_id: current_user,askedUser_id: @book_instance.user, askedBook_instance_id:@book_instance, askingBook_instance_id: 2, status: 'Pendente'} }, class: "btn btn-primary" , method: :create %>
    <% else %>
      <button type="button" class="btn btn-primary" disabled>Solicitar Doação</button>
    <% end %>
  </p>
<% end %>

<% if @book_instance.user_id == current_user.id %>
  <%= link_to 'Editar', edit_book_instance_path(@book_instance), class: "btn btn-secondary" %>
<% end %>
