<h3>Exemplar #<%= @book_instance.id %> </h3>

<p>
  <strong>Livro:</strong>
  <%= link_to @book_instance.book.name, @book_instance.book %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= link_to @book_instance.user.name, @book_instance.user %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @book_instance.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book_instance.status %>
</p>

<%= link_to 'Editar', edit_book_instance_path(@book_instance), class: "btn btn-secondary" %>
