<h2>Livros
  <%= link_to 'Cadastrar Exemplar', new_book_instance_path, class: 'btn btn-primary float-right' %>
  <%= link_to 'Cadastrar Livro', new_book_path, class: 'btn btn-primary float-right' %>
</h2>
<br />

<%= search_form_for @q do |f| %>
  <div class="form-group row">
    <div class="col-md-3">
      <label>Nome</label><br>
      <%= f.search_field :name_cont, :class => 'form-control'%>
    </div>
  </div>
  <%= f.submit %><br><br>
<% end %>

<% if params[:q] %>
  Resultado da busca: <b><%= @books.count %> livros encontrados</b><br><br>
<% end %>
<div class="row" id="book-index">
<% @books.each do |book| %>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2">
    <div class="card">
      <%= link_to (image_tag book.picture.url(:medium), class: "card-img-top"), book %>
      <div class="card-body">
        <h5 class="card-title book-title"><%= link_to book.name, book %></h5>
        <p class="card-text"><%= link_to book.description, book %></p>
      </div>
    </div>
  </div>
<% end %>
</div>
<div class="apple_pagination">
  <%= will_paginate @books, :container => false %>
</div>

