<p id="notice"><%= notice %></p>
<h1>Livros
  <%= link_to 'Cadastrar Livro', new_book_path, class: 'btn btn-primary float-right' %>
</h1>

<div class="row">
<% @books.each do |book| %>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2">
    <div class="card">
      <%= image_tag book.picture.url(:medium), class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= link_to book.name, book %></h5>
        <p class="card-text"><%= link_to book.description, book %></p>
      </div>
    </div>
  </div>
<% end %>
</div>

