<h3>Requisições de amizade</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Usuário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friend_requests.each do |friend_request| %>
      <tr>
        <td><%= link_to book_instance.book.name, book_instance.book %></td>
        <td><%= link_to book_instance.user.name, book_instance.user %></td>
        <td><%= book_instance.description %></td>
        <td><%= link_to 'Ver', book_instance %></td>
        <td><%= link_to 'Editar', edit_book_instance_path(book_instance) %></td>
        <td><%= link_to 'Remover', book_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
