<p id="notice"><%= notice %></p>

<h1>Minhas Transações</h1>

  <table cellspacing="20" cellpadding="10">
    <thead>
      <tr>
        <th>Usuário requisitante</th>
        <th>Usuário requisitado</th>
        <th>Livro</th>
        <th>Tipo da transação</th>
        <th>Status da transações</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.askingUser.name %></td>
          <td><%= transaction.askedUser.name %></td>
          <td><%= transaction.askedBook_instance.book.name %></td>
          <td><%= transaction.type %></td>
          <td><%= transaction.status %></td>
          <td><%= link_to 'Show', transaction %></td>
          <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<!--
<h4> Transações Confirmadas </h4>

  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Book instance</th>
        <th>Type</th>
        <th>Status</th>
        <th>Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <% if transaction.status == 'Confirmada' %>
            <td><%= transaction.askingUser.name %></td>
            <td><%= transaction.askedBook_instance %></td>
            <td><%= transaction.type %></td>
            <td><%= transaction.status %></td>
            <td><%= link_to 'Show', transaction %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<h4> Transações Finalizadas </h4>

  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Book instance</th>
        <th>Type</th>
        <th>Status</th>
        <th>Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <% if transaction.status == 'Finalizada' %>
            <td><%= transaction.askingUser.name %></td>
            <td><%= transaction.askedBook_instance %></td>
            <td><%= transaction.type %></td>
            <td><%= transaction.status %></td>
            <td><%= link_to 'Show', transaction %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
-->
<br>
