<p id="notice"><%= notice %></p>

<p>
  <strong>Usuário que requisitou:</strong>
  <%= link_to @transaction.askingUser.name, @transaction.askingUser %>
</p>

<p>
  <strong>User requisitado:</strong>
  <%= link_to @transaction.askedUser.name, @transaction.askedUser %>
</p>

<p>
  <strong>Livro requisitado:</strong>
  <%= link_to @transaction.askedBook_instance.book.name, @transaction.askedBook_instance %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @transaction.type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.status %>
</p>

<% if @transaction.askedUser == current_user %>
  <p>
    <% if @transaction.status == "Pendente"%>
    <!-- Button (Double) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="approvereject"></label>
        <div class="col-md-8">
          <%= button_to "Aceitar Transação", confirmTransaction_transaction_path, method: :post, class: "btn btn-success" %>
          <%= button_to "Rejeitar Transação", @transaction, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>

<% end %>
